*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
.header-section svg{
    display: block;
    width: 100%;
    height: auto;
    scrollbar-width: none;
    
    
}
.header-section {
    position: relative;
    overflow-y: hidden;
    
}
.head-content{
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    top: -200px;
    padding: 10px;
}
.head-content .Icon-first{
    width: 200px;
    height: 200px;
    position: relative;
    top: -100px;
    left: -20px;
}